{%- comment -%}
    An article with a header, footer, and dedicated title heading

    Parameters:
        include.title: document title
        include.content: article body content
        include.info_content: content in article>header element
        include.footer_content: content in article>footer element
{%- endcomment -%}


<article class="document">
    <header class="document-header">
        <div class="document-heading">
            <img class="document-accent" src="{% include static_url.fn filename='heading.gif' %}" alt="" />
            <h1 class="document-title">{{ include.title | escape }}</h1>
            <img class="document-accent" src="{% include static_url.fn filename='heading.gif' %}" alt="" />
        </div>
    {% if include.info_content %}
        <div class="document-info">{{ include.info_content }}</div>
    {% endif %}
    </header>
    {{ include.content }}
{% if include.footer_content %}
    <footer class="document-footer">
        {{ include.footer_content }}
    </footer>
{% endif %}
</article>
