{%- comment -%}
    Premier preview of post media

    Parameters:
        include.post_id: id of post to show media from
        include.accent: filename of accent image in static/accents
{%- endcomment -%}

{%- assign _post = site.posts | where: "id", include.post_id | first -%}


<article class="premier">
    <div class="premier-accent">
        <img class="premier-accent-image-left" src="{% include static_url.fn dirname='accents' filename=include.accent %}" alt="" />
    </div>
    <div class="premier-content">
        <a class="frame-large" href="{{ _post.url }}">
            <div class="premier-media">{%- include media.html post=_post -%}</div>
        </a>
        <header>
            <h1 class="premier-title">{{ _post.title }}</h1>
        </header>
    </div>
    <div class="premier-accent">
        <img class="premier-accent-image-right" src="{% include static_url.fn dirname='accents' filename=include.accent %}" alt="" />
    </div>
</article>
