{%- comment -%}
    Base HTML document and root site markup

    Parameters:
        page.title: page title
        page.no_title: if true omit page title from title tag
        page.cover: filename of document's cover image asset
        page.type: if "image" then "preview" or "source" will be used as cover
        page.preview: filename of image preview
        page.source: filename of image
    Configuration:
        site.data.site.charset: charset of site, ex: utf-8
        site.data.site.locale: locale of site, ex: en_US
        site.data.site.title: site title placed in head>title tag
        site.data.site.email: email address of site owner
        site.data.site.privacy_policy: URL of privacy policy page
        site.data.site.api_url: URL of site API
        site.data.site.neocities: neocities site name
        site.data.site.umami_id: umami site ID
        site.data.links.internal: links to pages internal to the site
        site.data.links.external: links external to the site
        site.data.badges: badges and links placed in the footer
{%- endcomment -%}


{%- assign _title = "..:: " | append: site.data.site.title | append: " ::.." -%}
{%- if page.title -%}
    {%- unless page.no_title == true %}
        {%- assign _title = _title | prepend: " " | prepend: page.title -%}
    {%- endunless -%}
{%- endif -%}


{%- capture _image_path -%}
    {%- if page.type == "image" -%}
        {%- if page.preview -%}
            {%- include asset_url.fn filename=page.preview -%}
        {%- elsif page.source -%}
            {%- include asset_url.fn filename=page.source -%}
        {%- endif -%}
    {%- elsif page.cover -%}
        {%- include asset_url.fn filename=page.cover -%}
    {%- else -%}
        {%- include static_url.fn filename='cover.gif' -%}
    {%- endif -%}
{%- endcapture -%}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="{{ site.data.site.charset }}">
        <title>{{ _title | escape }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=10.0" />
        <link rel="stylesheet" type="text/css" href="{% include static_url.fn filename='styles.css' %}" />
        <link rel="icon" type="image/x-icon" href="{% include static_url.fn filename='favicon.ico' %}" />
        <link rel="apple-touch-icon" type="image/gif" sizes="128x128" href="{% include static_url.fn filename='favicon-128.gif' %}" />
        <meta property="og:locale" content="{{ site.data.site.locale }}" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="{{ site.data.site.title | escape }}"/>
        <meta property="og:title" content="{{ page.title | escape }}" />
        <meta property="og:description" content="{{ page.excerpt | strip_html | normalize_whitespace | escape }}" />
        <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
        <meta property="og:image" content="{{ site.url }}{{ _image_path }}" />
        <script defer src="{{ site.data.site.api_url }}/stats/script.js" data-website-id="{{ site.data.site.umami_id }}"></script>
    </head>
    <body class="base">
        <img class="base-top-left" src="{% include static_url.fn filename='top-left.gif' %}" alt="" />
        <img class="base-top-right" src="{% include static_url.fn filename='top-right.gif' %}" alt="" />
        <img class="base-bottom-left" src="{% include static_url.fn filename='bottom-left.gif' %}" alt="" />
        <img class="base-bottom-right" src="{% include static_url.fn filename='bottom-right.gif' %}" alt="" />
        <header class="header">
            <div class="header-banner">
                <div class="header-text">
                    <span class="header-line">Welcome to</span>
                    <span class="header-line">the website of</span>
                </div>
                <div class="header-title">
                    <img class="header-image" src="{% include static_url.fn filename='banner-1.gif' %}" alt="{{ site.data.site.title | escape }}"
                    /><img class="header-image" src="{% include static_url.fn filename='banner-2.gif' %}" alt="" />
                </div>
            </div>
            <div class="header-links">
                <nav class="header-linkset">
                {%- for _link in site.data.links.internal -%}
                    <a class="header-link" href="{% include link_url.fn link=_link %}"
                        ><img class="header-icon" src="{% include static_url.fn dirname='icons' filename=_link.icon %}" alt="" />{{ _link.title | escape }}</a>
                {%- endfor -%}
                </nav>
                <div class="header-linkset">
                {%- for _link in site.data.links.external -%}
                    <a class="header-link" href="{% include link_url.fn link=_link %}"
                        ><img class="header-icon" src="{% include static_url.fn dirname='icons' filename=_link.icon %}" alt="" />{{ _link.title | escape }}</a>
                {%- endfor -%}
                </div>
            </div>
        </header>
        <div class="body">
            <div class="body-border-top"></div>
            <div class="body-content">{{ content }}</div>
            <div class="body-border-bottom"></div>
        </div>
        <footer class="footer">
            <div class="footer-notice">This is the end. <a href="mailto:{{ site.data.site.email }}">Send me mail</a> if you want to use any content. Beware the <a href="{{ site.data.site.privacy_policy }}">privacy policy</a>.</div>
            <div class="footer-badges">
            {%- for _badge in site.data.badges -%}
                <div class="footer-badge">
                {%- if _badge.url %}<a href="{% include link_url.fn link=_badge %}">{% endif -%}
                    <img src="{% include static_url.fn dirname='badges' filename=_badge.filename %}" alt="{{ _badge.title | escape }}" />
                {%- if _badge.url %}</a>{% endif -%}
                </div>
            {%- endfor -%}
            </div>
            <a id="counter" class="footer-counter" href="https://neocities.org/site/{{ site.data.site.neocities }}"></a>
        </footer>
        <script src="{% include static_url.fn filename='counter.js' %}"></script>
        <script>
            (function() {
                var URL_TEMPLATE = '{% include static_url.fn dirname="digits" filename="{digit}.gif" %}';
                function render(digit) {
                    var src = URL_TEMPLATE.replace('{digit}', digit);
                    return '<img src="' + src + '" alt="' + digit + '" />';
                }
                counter.init('#counter', render, '{{ site.data.site.api_url }}', '{{ site.data.site.neocities }}');
            })();
        </script>
    </body>
</html>
