---
layout: base
---
{%- comment -%}
    List of all posts in site or a specified category

    Parameters:
        page.category: category of posts to show, omit to show all posts
        page.summarize: show alternate post layout designed to showcase text
    Post Parameters:
        post.title: post title shown for text posts
        post.date: date post was published
        post.type: post type, can be "text" or any type accepted by media.html
        post.source: filename or identifier of post media
        post.weight: importance value that sets media size and frame [1, 2, 3]
{%- endcomment -%}


{% if page.category %}
    {% assign _posts = site.categories[page.category] %}
{% else %}
    {% assign _posts = site.posts %}
{% endif %}

{% assign _summarize = page.summarize | default: false %}


{% capture _post_content %}
<div class="collection">
    {%- for _post in _posts -%}

        {%- if _summarize -%}
    <article class="summary">
        <header class="summary-header">
            <a href="{{ _post.url }}"><h1 class="summary-title">{{ _post.title | escape }}</h1></a>
            <div class="summary-date">({% include date.html date=_post.date %})</div>
        </header>
        <div class="summary-content">{{ _post.content }}</div>
    </article>
            {%- unless forloop.last %}<hr />{% endunless -%}

        {%- else -%}
    <a class="preview" href="{{ _post.url }}">
        <div class="frame-small-{{ _post.weight }}">
            <article class="preview-canvas preview-weight-{{ _post.weight }}">
                <div class="preview-type-{{ _post.type }}">
                {%- if _post.type == "text" -%}
                    <header class="preview-header">
                        <h1 class="preview-title">{{ _post.title | escape }}</h1>
                        <div class="preview-date">{% include date.html date=_post.date short=true %}</div>
                    </header>
                    <p class="preview-excerpt">{{ _post.excerpt | strip_html }}</p>
                {%- else -%}
                    {% include media.html post=_post preview=true %}
                {%- endif -%}
                </div>
            </article>
        </div>
    </a>
        {%- endif -%}
    {%- endfor -%}
</div>
{% endcapture %}


{% include document.html title=page.title content=_post_content %}
