---
layout: base
---
{%- comment -%}
    A post containing text or media

    Parameters:
        page.title: post title
        page.date: date post was published
        page.type: post type, can be "text" or any type accepted by media.html
        page.source: filename or identifier of post media
        page.materials: list of material names used to create the post
    Configuration:
        site.data.materials: material definitions
{%- endcomment -%}

{% assign _category = page.categories[0] %}


{% capture post_info -%}
    Posted to <a href="{{ site.baseurl }}/{{ _category }}/">{{ _category | capitalize }}</a> on {% include date.html date=page.date %}
{%- endcapture %}

{% capture post_content %}
    {% if page.type == "text" %}
    <div class="post-text">
        {{ page.content }}
    </div>
    {% else %}
    <div class="post-media">
        <div class="frame-large">
            {% include media.html post=page %}
        </div>
    </div>
    {% endif %}
{% endcapture %}

{% capture post_footer %}
    {% if page.materials %}
    <div class="post-materials">
        {%- for _page_material in page.materials -%}
            {% assign _site_material = site.data.materials | where: "name", _page_material | first %}
            <a class="post-material" href="{{ _site_material.url }}"
                ><img src="{% include static_url.fn dirname='materials' filename=_site_material.image %}"
                    alt="{{ _site_material.title | escape }}"
            /></a>
        {%- endfor -%}
    </div>
    {% endif %}
    <nav class="post-nav">
        <div class="post-button">
            {% if page.previous.url %}
            <a href="{{ page.previous.url }}" ><img src="{% include static_url.fn filename='prev.gif' %}" alt="Previous" /></a>
            {% endif %}
        </div><div class="post-button">
            {% if page.next.url %}
            <a href="{{ page.next.url }}" ><img src="{% include static_url.fn filename='next.gif' %}" alt="Next" /></a>
            {% endif %}
        </div>
    </nav>
{% endcapture %}


<div class="post">
    {% include document.html title=page.title
        content=post_content info_content=post_info footer_content=post_footer %}
</div>
